body {
                
    font-family: sans-serif;
    padding:0;
    margin:0;
        
}
    
.navbar-brand {

    font-weight: bolder;
    color: black;

}

.navbar-brand:hover {

    color: black;

}

.navbar {

    background-color: #EEEEEE;

}
    
.default {
        
    background-color: #E8F2FF;
        
}
    
.highlighted-btn {

    background-color: grey;

}
    
textarea {
        
    resize: none;
    border-top: none;
    border-color: grey;
        
}
    
.panel {
        
    float:left;
    width: 50%;
    border-left: none;
}
    
iframe {
        
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid grey;
    padding-left: 5px; 
        
}
    
.hidden {
        
    display: none;
        
}